<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import {
    HomeFilled,
    UserOutlined,
  } from '@ant-design/icons-vue';
  import Header from '@/components/header/index.vue';
  import Menu from '@/components/menu/index.vue';

  export default defineComponent({
    components: {
      HomeFilled,
      UserOutlined,
      Header,
      Menu,
    },

    setup() {
      const isVertical = true;
      let collapsed =  ref<boolean>(false);

      const toggleSidebar = (toggle: boolean) => {
        collapsed.value = toggle;
      }

      return {
        isVertical,
        collapsed,
        toggleSidebar
      }
    }
  });
  
</script>

<template>
    <a-layout-sider
      v-model:collapsed="collapsed"
      :trigger="null" collapsible
      class="slider-fixed"
    >
      <router-link to="/">
        <div class="header-logo">
          <div class="icon-logo">
            <home-filled />
          </div>
        </div>
      </router-link>

      <Menu />
    </a-layout-sider>

    <a-layout>
      <Header :collapsed="collapsed" @click="toggleSidebar" />
      <a-layout-content
        :style="{ margin: '24px 16px', padding: '24px', minHeight: '280px' }"
      >
        <router-view />
      </a-layout-content>
    </a-layout>
</template>

<style lang="scss">
.header-logo {
  padding: 10px;
  .icon-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 121, 121);
    height: 40px;
  }

}
.ant-layout-header {
  padding: 0 20px;
  background-color: white;
}

</style>