<script lang='ts'>
import { defineComponent } from 'vue';
import { menuList } from './menu';

export default defineComponent({

  setup() {
    return {
      menuList,
    }
  },
  
});
</script>

<template>
  <a-menu theme="dark" mode="inline">
    <a-menu-item
      v-for="(menu, index) in menuList"
      :key="index"
    >
      <router-link :to="menu.route" />
      <component :is="menu.icon" />
      <span>
        {{ menu.label }}
      </span>
    </a-menu-item>
  </a-menu>
</template>