<script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

export default defineComponent({

  setup() {
    const store = useStore();
    const router = useRouter();
    return {
      store,
      router,
    }
  },

  methods: {
    handleLogout() {
      this.store.commit('auth/logOut');
      this.router.push('/');
    },
  },
});
</script>

<template>
  <a-dropdown placement="bottomRight">
    <a :style="{display: 'block', width: '30px'}">
      <img :style="{width: '100%'}" src="https://thumbs.dreamstime.com/b/creative-illustration-default-avatar-profile-placeholder-isolated-background-art-design-grey-photo-blank-template-mockup-144855718.jpg" alt="Avatar" >
    </a>
    <template #overlay>
      <a-menu>
        <a-menu-item>
          Account settings
        </a-menu-item>
        <a-menu-item @click="handleLogout">
          Logout
        </a-menu-item>
      </a-menu>
    </template>
  </a-dropdown>
</template>