<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({

});
</script>
<template>
  <div>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
    <h1>Dashboard page</h1>
  </div>
</template>