<script lang="ts">
import { defineComponent } from 'vue';
import {
  MenuUnfoldOutlined,
  MenuFoldOutlined,
} from '@ant-design/icons-vue';
import Profile from '@/components/setting/Profile.vue';
import Mode from '@/components/setting/Mode.vue';

export default defineComponent({
  props: ['collapsed'],
  emits: ['click'],

  components: {
    MenuUnfoldOutlined,
    MenuFoldOutlined,
    Profile,
    Mode,
  },

  methods: {
    handleCollapse(collapsed: boolean) {
      this.$emit('click', collapsed);
    },
  },

});
</script>

<template>
  <a-layout-header>
    <div class="ant-row ant-row-space-between ant-row-middle">
      <div class="ant-col">
        <menu-unfold-outlined
          v-if="collapsed"
          class="trigger"
          @click="handleCollapse(false)"
        />
        <menu-fold-outlined v-else class="trigger" @click="handleCollapse(true)" />
      </div>
      <div class="ant-col">
        <div class="ant-row">
          <Mode :style="{marginRight: '10px'}"/>
          <Profile />
        </div>
      </div>
    </div>
  </a-layout-header>
</template>