<script setup lang="ts">
import { ConfigProvider } from 'ant-design-vue';
import Layout from '@/layouts/index.vue';
// import CustomIcon from '@/components/icon/customIcon';
</script>

<template>
  <ConfigProvider>
    <Layout />
  </ConfigProvider>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
