<script lang="ts">
  import { defineComponent, ref, computed } from 'vue';
  import VeritialLayout from './vertical/index.vue';
  import HorizontialLayout from './horizontal/index.vue';
  import Login from '@/views/login/index.vue'
  import {
    MenuUnfoldOutlined,
    MenuFoldOutlined,
  } from '@ant-design/icons-vue';
import { useStore } from 'vuex';

  export default defineComponent({
    components: {
      VeritialLayout,
      HorizontialLayout,
      MenuUnfoldOutlined,
      MenuFoldOutlined,
      Login,
    },

    setup() {
      const store = useStore();
      const isLogin = computed(() => store.state['auth'].auth.isLogin);
      const isVertical = true;
      const selectedKeys = ref<string[]>(['4']);
      const collapsed =  ref<boolean>(false);

      return {
        isVertical,
        selectedKeys,
        collapsed,
        isLogin,
      }
    },

  });
  
</script>

<template>
  <div v-if="!isLogin">
    <Login />
  </div>
  <a-layout
    v-else
    has-sider
    class="main-wrapper layout"
  >
    <VeritialLayout v-if="isVertical" />
    <HorizontialLayout v-else />
  </a-layout>
</template>

<style lang="scss">
</style>